<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="plantilla/template :: head">

</head>

<body>
	<header th:replace="plantilla/template :: header"></header>
	<div class="container">
		<div class="card bg-light">
			<div class="card-header bg-dark text-white" th:text="${titulo}"></div>
			<div class="card-body">
				<form th:action="@{/gestion_productos/save}" th:object="${dulce}"
				method="post" enctype="multipart/form-data">
					<div class="mb-3 col-md-6">
						<input type="hidden" th:field="*{id}">
						<label for="nombre" class="form-label col-md-6">Nombre</label>
						 <input
							type="text" th:field="*{nombre}" class="form-control form-control-sm col-md-6"
							id="nombre" placeholder="Nombre" > 
							<small class="form-text text-danger" 
							th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
					</div>

					<div class="mb-3 col-md-6">
						<label for="marca" class="form-label col-md-3">Marca</label> 
						<input placeholder="Marca"
							type="text" th:field="*{marca}"  class="form-control form-control-sm col-md-6"
							id="marca"> 
							<small class="form-text text-danger" 
							th:if="${#fields.hasErrors('marca')}" th:errors="*{marca}"></small>
					</div>

					<div class="mb-3 col-md-6">
						<label for="cantidad" class="form-label col-md-3">Stock</label>
						 <input placeholder="Stock"
							type="number" th:field="*{cantidad}" class="form-control form-control-sm col-md-6"
							id="cantidad"> 
							<small class="form-text text-danger" 
							th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}"></small>
					</div>
					
					<div class="mb-3 col-md-6">
						<label for="precio" class="form-label col-md-3">Precio</label>
						 <input placeholder="Precio"
							type="number" th:field="*{precio}" class="form-control form-control-sm col-md-6"
							id="precio"> 
							<small class="form-text text-danger" 
							th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></small>
					</div>

					<div class="mb-3 col-md-6">
						<label for="descuento" class="form-label col-md-3">Descuento</label>
						<input type="number" th:field="*{descuento}"  class="form-control form-control-sm col-md-6"
							id="descuento" placeholder="Descuento"> 
							<small class="form-text text-danger" 
							th:if="${#fields.hasErrors('descuento')}" th:errors="*{descuento}"></small>
					</div>

					<div class="mb-3 col-md-6">
						<label for="categorias" class="form-label col-md-3">Categoria</label>
						<select class="form-select form-select-md" id="categoria" th:field="*{categoria.id}" >
							<option th:each="cat : ${categorias}"
							th:value="${cat.id}" 
							th:text="${cat.nombre}"/>
						</select>
					</div>

					<div class="mb-3 col-md-6">
						<label for="descripcion" class="form-label col-md-3">Descripción</label>
						<div class="form-floating mb-3">
							<textarea class="form-control form-control-sm col-md-6" placeholder="Leave a comment here"
								id="descripcion" th:field="*{descripcion}" style="height: 100px"></textarea>
							<label for="floatingTextarea2">Descripción</label>
						</div>
						<small class="form-text text-danger" 
							th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></small>
					</div>
					
					<div class="mb-3 col-md-6">
						<label for="imagen" class="form-label col-md-3">Imagen</label>
						<input type="file" name="file"  class="form-control form-control-sm col-md-6"
							id="imagen"> 
							
					</div>

					<div class="card-footer bg-dark">
						<input type="submit" class="btn btn-primary" value="Agregar">
					</div>
					<div class="mb-3">
						<br></br>
					</div>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="plantilla/template :: footer"></footer>
</body>

</html>